
.container {
    width: 80%;
}

.halfcolumn {
    float: left;
    max-width: 45%;
}

.halfcolumn img {
    width: 100%;
}


/* --------------------------------------- */

.term 
{
    font-style:italic;
}

/* used in code examples to highlight added code */
.addedcode 
{
    color: #AD0101;
}

.deletedcode {
    text-decoration: line-through;
}

