@using ViewExtensions

        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs">
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#filestructure">File Structure</a>
            </li>
            <li>
                <a href="#bundles">Bundles</a>
            </li>
            <li>
                <a href="#installation">Installation</a>
            </li>
        </ul>
    

